@charset "UTF-8";
/* Paleta de colores */
/* titulos de las secciones */
/* activacion del nav */
/* cards */
/* Pagina carrito */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

footer {
  margin-top: 5rem;
  /* mail de footer */
  /* cuerpo de footer con soporte */
  /* Footer-derechos recervados */
}
footer .footerMail {
  text-align: center;
  padding: 1.25rem;
  background-color: #F8F9FF;
}
footer .footerMail .barraDeMail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1%;
}
footer .footerMail .barraDeMail h3 {
  margin: 0;
  font-size: 1rem;
  white-space: nowrap;
}
footer .footerMail .barraDeMail .enviarMail {
  padding: 0.625rem;
  font-size: 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem 0 0 0.3125rem;
  width: 60%;
  max-width: 31.25rem;
}
footer .footerMail .barraDeMail button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background-color: #2C3673;
  border: none;
  border-radius: 0 0.3125rem 0.3125rem 0;
  cursor: pointer;
}
footer .footerMail .barraDeMail button:hover {
  background-color: #f3a548;
}
footer .margenFooter {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
footer .margenFooter .grid {
  margin: 0 15%;
  gap: 5%;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 200px);
}
footer .margenFooter .grid .footerDesplegable {
  display: block;
}
footer .margenFooter .grid .footerDesplegable .moRe {
  display: none;
}
footer .margenFooter .grid .footerDesplegable label {
  display: none;
}
footer .margenFooter .grid .footerDesplegable .datosFooter {
  margin-top: 1.25rem;
}
footer .margenFooter .grid .footerDesplegable .datosFooter .nosotrosFooter {
  margin-top: 1.25rem;
}
footer .margenFooter .grid .footerDesplegable .datosFooter .compraOnline {
  margin-top: 1.25rem;
}
footer .margenFooter .grid .footerDesplegable .datosFooter .soporteFooter {
  margin-top: 1.25rem;
}
footer .margenFooter .grid .footerDesplegable .datosFooter .redesSociales {
  display: flex;
  margin-top: 1.25rem;
  gap: 3px;
}
footer .margenFooter .grid .footerDesplegable .datosFooter .redesSociales .iconosRedes {
  margin-right: 5%;
  height: 20px;
}
footer .derechosReservados {
  margin-top: 5%;
  padding: 1%;
  text-align: center;
  background-color: #F8F9FF;
}
footer .derechosReservados .footerFin {
  font-size: 1rem;
}

.navBar {
  background-color: #2C3673;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navBar div img {
  display: block;
  margin: 0 20px;
  height: 40px;
}
.navBar .barraDeBusqueda {
  flex-grow: 1;
  margin: 0 1.25rem;
}
.navBar .barraDeBusqueda .mateRial {
  margin-left: auto;
  margin-right: 2%;
}
.navBar .barraDeBusqueda input {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
}
.navBar .botonesNav {
  display: flex;
  gap: 0.625rem;
}
.navBar .botonesNav .buttonIN, .navBar .botonesNav .buttonRE {
  padding: 0.625rem 1.25rem;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  color: #2C3673;
}
.navBar .botonesNav .buttonRE {
  background-color: #f3a548;
  color: white;
}

.acTive {
  color: #2C3673;
  font-weight: 600;
}

nav {
  background-color: #F8F9FF;
}
nav label {
  display: none;
  cursor: pointer;
}
nav #toggle {
  display: none;
}
nav .iconoFavorito {
  display: none;
}
nav .iconoCarrto {
  display: none;
}
nav .iconoFavorito2 {
  display: none;
}
nav .iconoCarrto2 {
  display: none;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
nav ul li {
  margin: 0.9375rem 3.125rem;
  text-decoration: none;
}
nav ul li a {
  color: #9e9e9e;
  text-decoration: none;
}
nav ul li a:hover {
  color: #f3a548;
}
nav ul .butonesDeLogin {
  display: none;
}

/* sección carrusel-publicidad */
.sliderBox, .sliderBox2 {
  margin-top: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.sliderBox .silderCarrusel, .sliderBox2 .silderCarrusel {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}
.sliderBox .silderCarrusel div, .sliderBox2 .silderCarrusel div {
  width: 100%;
  position: relative;
}
.sliderBox .silderCarrusel img, .sliderBox2 .silderCarrusel img {
  width: 100%;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* Sección card-ofertas del dia */
section {
  margin-top: 0.3125rem;
}
section h1 {
  margin-top: 1%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 700;
  gap: 1.25rem;
  color: #2C3673;
}
section .sección2 {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
section .sección2 .card, section .sección2 .card3, section .sección2 .card2, section .sección2 .card1 {
  padding: 3%;
  display: flex;
  box-shadow: 0px 1px 54px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
  color: white;
  background-color: #FEA548;
}
section .sección2 .card .oferta, section .sección2 .card3 .oferta, section .sección2 .card2 .oferta, section .sección2 .card1 .oferta {
  align-content: center;
  padding: 5%;
}
section .sección2 .card1 {
  background-color: #FEA548;
}
section .sección2 .card2 {
  background-color: #D92525;
}
section .sección2 .card3 {
  background-color: #4D8A99;
}

/* Sección cards-novedades */
.sliderBox2 {
  margin: 1% 3% 0 10%;
  width: 80%;
}
.sliderBox2 div {
  width: 100%;
  position: relative;
}
.sliderBox2 div h2 {
  text-align: center;
  color: white;
  background-color: #2C3673;
  padding: 2%;
  margin: 0;
}

/* Sección de cards-categorias */
section .paginaCategoria {
  display: flex;
  justify-content: center;
}
section .paginaCategoria .cardCategorias {
  display: flex;
  margin: 2%;
  padding: 2%;
  border-radius: 3%;
  box-shadow: 0px 8px 30px 5px rgba(0, 0, 0, 0.1);
}
section .paginaCategoria .cardCategorias:hover {
  transform: scale(1.2);
}
section .paginaCategoria .cardCategorias div .precioCard {
  margin-top: 10%;
}
section .paginaCategoria .cardCategorias div .buttonDeAbajo {
  text-align: center;
}
section .paginaCategoria .cardCategorias div .buttonDeAbajo:hover {
  background-color: #f3a548;
}
section .paginaCategoria .cardCategorias div .buttonAgregar {
  font-size: 1rem;
  margin-top: 2%;
  padding: 8% 20%;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2C3673;
}
section .paginaCategoria .cardCategorias div .buttonAgregar:hover {
  background-color: #f3a548;
}
section .buttonDeAbajo {
  text-align: center;
}
section .buttonDeAbajo .buttonVerMas {
  font-size: 40px;
  padding: 0.1875rem 3.125rem;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #2C3673;
}
section .buttonDeAbajo .buttonVerMas:hover {
  background-color: #f3a548;
}

/* Sección cards-ofertas */
section .conTainer {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
section .conTainer .prodUctos {
  border-radius: 0.3125rem;
  box-shadow: 0px 8px 30px 5px rgba(0, 0, 0, 0.1);
  padding: 1% 1%;
  gap: 5%;
  margin-left: 1%;
  margin-right: 1%;
}
section .conTainer .prodUctos:hover {
  transform: scale(1.2);
}
section .conTainer .prodUctos p {
  margin-bottom: 10%;
  font-size: 1rem;
}
section .conTainer .prodUctos h2 {
  font-size: 0.875rem;
  margin-bottom: 5%;
}
section .conTainer .prodUctos .buttonComprar {
  font-size: 1rem;
  margin-top: 2%;
  padding: 8% 20%;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2C3673;
  padding: 8% 30%;
}
section .conTainer .prodUctos .buttonComprar:hover {
  background-color: #f3a548;
}

/* Sección de card-favoritos */
section {
  margin-top: 3%;
}
section .CardProducto {
  margin-bottom: 2%;
}
section .CardProducto .cardFavoritos {
  border-radius: 10px;
  margin: 0 33%;
  box-shadow: 0px 8px 30px 5px rgba(0, 0, 0, 0.1);
  padding: 1%;
  display: flex;
  gap: 30px;
}
section .CardProducto .cardFavoritos div .tituloProducto {
  font-weight: 600;
  margin-top: 5%;
  font-size: 16px;
  margin-bottom: 18%;
}
section .CardProducto .cardFavoritos div .precioDeProducto {
  font-weight: bold;
  font-size: 0.875rem;
  margin-top: 20%;
  margin-bottom: 50%;
}
section .CardProducto .cardFavoritos div .buttonDeAgregar {
  font-size: 1rem;
  margin-top: 2%;
  padding: 8% 20%;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2C3673;
  padding: 15% 30%;
}
section .CardProducto .cardFavoritos div .buttonDeAgregar:hover {
  background-color: #f3a548;
}

/* Sección primer compra */
.seccionCarrito {
  gap: 1.25rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12);
  /* Sección segunda compra */
}
.seccionCarrito .imporTante {
  grid-column: 2/3;
}
.seccionCarrito .tituloImportante {
  grid-column: 2/7;
  grid-row: 2/3;
  margin-bottom: 5%;
}
.seccionCarrito .CardProductoGrid {
  grid-row: 3/4;
  grid-column: 2/8;
}
.seccionCarrito .CardProductoGrid .cardCarrito {
  border-radius: 10px;
  padding: 1%;
  display: flex;
  gap: 100px;
  color: white;
  background-color: #2C3673;
}
.seccionCarrito .CardProductoGrid .cardCarrito div .tituloProducto {
  font-weight: 600;
  margin-top: 5%;
  font-size: 16px;
  margin-bottom: 18%;
}
.seccionCarrito .CardProductoGrid .cardCarrito div .precioDeProducto {
  font-weight: bold;
  font-size: 15px;
  margin-top: 20%;
  margin-bottom: 50%;
}
.seccionCarrito .CardProductoGrid .cardCarrito div .buttonDeComprar {
  margin-top: 20%;
  padding: 30% 70%;
  background-color: #f3a548;
  color: white;
  border-radius: 5%;
  border: none;
  font-size: 16px;
}
.seccionCarrito .CardProductoGrid .cardCarrito div .buttonDeComprar:hover {
  background-color: #F8F9FF;
  color: #2C3673;
}
.seccionCarrito .cardProductoSeleeccionado {
  grid-column: 9/12;
  grid-row: 3/6;
}
.seccionCarrito .cardProductoSeleeccionado h2 {
  display: none;
}
.seccionCarrito .cardProductoSeleeccionado .cardCompra {
  padding: 10%;
  box-shadow: 0px 8px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.seccionCarrito .cardProductoSeleeccionado .cardCompra .imgProductoSeleccionado {
  width: 100%;
}
.seccionCarrito .cardProductoSeleeccionado .cardCompra div .tituloProductoCarrito {
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
}
.seccionCarrito .cardProductoSeleeccionado .cardCompra div .datosProductoCarrito {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 200;
}
.seccionCarrito .cardProductoSeleeccionado .cardCompra div .precioProductoCarrito {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.seccionCarrito .cardProductoSeleeccionado .cardCompra div .buttonTerminar {
  margin-top: 10px;
  border: none;
  border-radius: 0.3125rem;
  background-color: #2C3673;
  color: white;
  padding: 5% 15%;
  font-size: 16px;
}
.seccionCarrito .cardProductoSeleeccionado .cardCompra div .buttonTerminar:hover {
  background-color: #f3a548;
}
.seccionCarrito .CardProductoGrid2 {
  grid-row: 4/5;
  grid-column: 2/8;
}
.seccionCarrito .CardProductoGrid2 .cardCarrito2 {
  border-radius: 10px;
  box-shadow: 0px 8px 30px 5px rgba(0, 0, 0, 0.1);
  padding: 1%;
  display: flex;
  gap: 100px;
  background-color: white;
}
.seccionCarrito .CardProductoGrid2 .cardCarrito2 div .tituloProducto {
  font-weight: 600;
  margin-top: 5%;
  font-size: 16px;
  margin-bottom: 18%;
}
.seccionCarrito .CardProductoGrid2 .cardCarrito2 div .precioDeProducto {
  font-weight: bold;
  font-size: 15px;
  margin-top: 20%;
  margin-bottom: 50%;
}
.seccionCarrito .CardProductoGrid2 .cardCarrito2 div .buttonDeComprar2 {
  font-size: 16px;
  margin-top: 20%;
  padding: 30% 70%;
  background-color: #2C3673;
  color: white;
  border-radius: 5%;
  border: none;
}
.seccionCarrito .CardProductoGrid2 .cardCarrito2 div .buttonDeComprar2:hover {
  background-color: #f3a548;
}

.secciónnovedades .card, .secciónnovedades section .sección2 .card1, section .sección2 .secciónnovedades .card1, .secciónnovedades section .sección2 .card2, section .sección2 .secciónnovedades .card2, .secciónnovedades section .sección2 .card3, section .sección2 .secciónnovedades .card3 {
  position: relative;
}
.secciónnovedades .card .card-img-overlay, .secciónnovedades section .sección2 .card1 .card-img-overlay, section .sección2 .secciónnovedades .card1 .card-img-overlay, .secciónnovedades section .sección2 .card2 .card-img-overlay, section .sección2 .secciónnovedades .card2 .card-img-overlay, .secciónnovedades section .sección2 .card3 .card-img-overlay, section .sección2 .secciónnovedades .card3 .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.secciónnovedades .card .card-img-overlay .card-title, .secciónnovedades section .sección2 .card1 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card1 .card-img-overlay .card-title, .secciónnovedades section .sección2 .card2 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card2 .card-img-overlay .card-title, .secciónnovedades section .sección2 .card3 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card3 .card-img-overlay .card-title, .secciónnovedades .card .card-img-overlay .card-text, .secciónnovedades section .sección2 .card1 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card1 .card-img-overlay .card-text, .secciónnovedades section .sección2 .card2 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card2 .card-img-overlay .card-text, .secciónnovedades section .sección2 .card3 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card3 .card-img-overlay .card-text {
  margin: 0;
  padding: 0;
}
.secciónnovedades .card .card-img-overlay .card-title, .secciónnovedades section .sección2 .card1 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card1 .card-img-overlay .card-title, .secciónnovedades section .sección2 .card2 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card2 .card-img-overlay .card-title, .secciónnovedades section .sección2 .card3 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card3 .card-img-overlay .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.secciónnovedades .card .card-img-overlay .card-text, .secciónnovedades section .sección2 .card1 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card1 .card-img-overlay .card-text, .secciónnovedades section .sección2 .card2 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card2 .card-img-overlay .card-text, .secciónnovedades section .sección2 .card3 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card3 .card-img-overlay .card-text {
  font-size: 1rem;
}
.secciónnovedades .card .card-img-overlay small, .secciónnovedades section .sección2 .card1 .card-img-overlay small, section .sección2 .secciónnovedades .card1 .card-img-overlay small, .secciónnovedades section .sección2 .card2 .card-img-overlay small, section .sección2 .secciónnovedades .card2 .card-img-overlay small, .secciónnovedades section .sección2 .card3 .card-img-overlay small, section .sección2 .secciónnovedades .card3 .card-img-overlay small {
  font-size: 0.875rem;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .secciónnovedades .card .card-img-overlay .card-title, .secciónnovedades section .sección2 .card1 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card1 .card-img-overlay .card-title, .secciónnovedades section .sección2 .card2 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card2 .card-img-overlay .card-title, .secciónnovedades section .sección2 .card3 .card-img-overlay .card-title, section .sección2 .secciónnovedades .card3 .card-img-overlay .card-title {
    font-size: 14px;
  }
  .secciónnovedades .card .card-img-overlay .card-text, .secciónnovedades section .sección2 .card1 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card1 .card-img-overlay .card-text, .secciónnovedades section .sección2 .card2 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card2 .card-img-overlay .card-text, .secciónnovedades section .sección2 .card3 .card-img-overlay .card-text, section .sección2 .secciónnovedades .card3 .card-img-overlay .card-text {
    font-size: 12px;
  }
  .secciónnovedades .card .card-img-overlay small, .secciónnovedades section .sección2 .card1 .card-img-overlay small, section .sección2 .secciónnovedades .card1 .card-img-overlay small, .secciónnovedades section .sección2 .card2 .card-img-overlay small, section .sección2 .secciónnovedades .card2 .card-img-overlay small, .secciónnovedades section .sección2 .card3 .card-img-overlay small, section .sección2 .secciónnovedades .card3 .card-img-overlay small {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  /* header */
  header nav .navBar .botonesNav {
    display: none;
  }
  header .segundoNav .menu .butonesDeLogin {
    margin-left: 26%;
    margin-top: 1%;
    margin-bottom: 5%;
    gap: 0.625rem;
    display: flex;
  }
  header .segundoNav .menu .butonesDeLogin button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2C3673;
    color: white;
  }
  /* main responsive (450px) */
  .margEn .paginaCategoria {
    margin: 0;
  }
  .margEn .paginaCategoria .cardCategorias {
    flex-direction: column;
  }
  /* PAGINA FAVORITOS */
  section .CardProducto .cardFavoritos {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }
  section .CardProducto .cardFavoritos .imgProducto {
    width: 50%;
    margin-bottom: 0;
  }
  section .CardProducto .cardFavoritos div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .CardProducto .cardFavoritos div .tituloProducto {
    margin-bottom: 5%;
  }
  section .CardProducto .cardFavoritos div p {
    margin-bottom: 10%;
  }
  section .CardProducto .cardFavoritos div .precioDeProducto {
    margin-bottom: 10%;
  }
  section .CardProducto .cardFavoritos div .buttonDeAgregar {
    padding: 20% 130%;
    margin-bottom: 20%;
  }
  /* PAGINA CARRITO */
  .seccionCarrito .imporTante {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .seccionCarrito .tituloImportante {
    grid-column: 2/12;
    grid-row: 2/3;
    font-size: 14px;
  }
  .seccionCarrito .CardProductoGrid {
    grid-column: 2/12;
    grid-row: 3/4;
  }
  .seccionCarrito .CardProductoGrid .cardCarrito {
    gap: 0;
  }
  .seccionCarrito .CardProductoGrid .cardCarrito img {
    width: 25%;
    height: 25%;
  }
  .seccionCarrito .CardProductoGrid .cardCarrito div .tituloProducto {
    font-size: 10px;
  }
  .seccionCarrito .CardProductoGrid .cardCarrito div p {
    font-size: 8px;
    margin-bottom: 0;
  }
  .seccionCarrito .CardProductoGrid .cardCarrito div .precioDeProducto {
    margin-top: 13%;
    margin-left: 50%;
    font-size: 10px;
    margin-bottom: 0;
  }
  .seccionCarrito .CardProductoGrid .cardCarrito div .buttonDeComprar {
    padding: 10% 20%;
  }
  .seccionCarrito .cardProductoSeleeccionado {
    padding: 5%;
    grid-column: 2/12;
    grid-row: 5/6;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra {
    gap: 2%;
    display: flex;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra .imgProductoSeleccionado {
    width: 50%;
    height: 50%;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra div .tituloProductoCarrito {
    margin-top: 0;
    font-size: 10px;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra div .datosProductoCarrito {
    font-size: 8px;
    margin-bottom: 0;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra div .precioProductoCarrito {
    margin-top: 13%;
    margin-left: 0;
    font-size: 10px;
    margin-bottom: 0;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra div .buttonTerminar {
    padding: 10% 30%;
  }
  .seccionCarrito .CardProductoGrid2 {
    grid-column: 2/12;
    grid-row: 4/5;
  }
  .seccionCarrito .CardProductoGrid2 .cardCarrito2 {
    gap: 0;
  }
  .seccionCarrito .CardProductoGrid2 .cardCarrito2 img {
    width: 25%;
    height: 25%;
  }
  .seccionCarrito .CardProductoGrid2 .cardCarrito2 div .tituloProducto {
    font-size: 10px;
  }
  .seccionCarrito .CardProductoGrid2 .cardCarrito2 div p {
    font-size: 8px;
    margin-bottom: 0;
  }
  .seccionCarrito .CardProductoGrid2 .cardCarrito2 div .precioDeProducto {
    margin-top: 13%;
    margin-left: 50%;
    font-size: 10px;
    margin-bottom: 0;
  }
  .seccionCarrito .CardProductoGrid2 .cardCarrito2 div .buttonDeComprar2 {
    padding: 10% 20%;
  }
  /* footer responsive (450px) */
  footer .footerMail .barraDeMail {
    flex-direction: column;
    align-items: stretch;
  }
  footer .footerMail .barraDeMail h3 {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
  footer .footerMail .barraDeMail .enviarMail {
    width: 100%;
    font-size: 0.875rem;
    border-radius: 0.3125rem 0.3125rem 0 0;
    margin-bottom: 0.5rem;
  }
  footer .footerMail .barraDeMail button {
    width: 100%;
    border-radius: 0 0 0.3125rem 0.3125rem;
    font-size: 0.875rem;
  }
  footer .margenFooter {
    margin-left: 60px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  footer .margenFooter .grid {
    margin: 0 0;
    width: 100%;
    display: block;
  }
  footer .margenFooter .grid .footerDesplegable {
    margin-bottom: 1.5rem;
  }
  footer .margenFooter .grid .footerDesplegable label {
    margin: 1% 0%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    color: #2C3673;
  }
  footer .margenFooter .grid .footerDesplegable label h2 {
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
  }
  footer .margenFooter .grid .footerDesplegable .espacioDeItems3 {
    gap: 10%;
    padding: 10px;
  }
  footer .margenFooter .grid .footerDesplegable .tituloNoResponsive {
    display: none;
  }
  footer .margenFooter .grid .footerDesplegable .moRe:checked ~ .datosFooter {
    height: auto;
    overflow: visible;
  }
  footer .margenFooter .grid .footerDesplegable .datosFooter {
    margin: 0 5%;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  footer .margenFooter .grid .footerDesplegable .datosFooter p {
    font-size: 0.875rem;
    margin: 0.75rem 0;
  }
  footer .margenFooter .grid .footerDesplegable .datosFooter .redesSociales {
    margin-top: 0.75rem;
  }
  footer .margenFooter .grid .footerDesplegable .datosFooter .redesSociales .iconosRedes {
    height: 18px;
  }
  footer .derechosReservados {
    margin-top: 2rem;
    padding: 1rem;
  }
  footer .derechosReservados .footerFin {
    font-size: 14px;
    margin: 0.5rem 0;
  }
}
@media (max-width: 768px) {
  /* responsive header (768px) */
  header {
    /* ICONOS PARA FAVORITOS Y CARRITO */
    /* Solo para el index */
    /* Para las demas paginas */
    /* responsive segundo nav (768px) */
  }
  header nav .navBar {
    padding: 10px 50px;
    align-items: center;
  }
  header nav .navBar .navLogo {
    margin: 0;
  }
  header nav .navBar .navLogo .logo {
    display: block;
    width: 6.25rem;
  }
  header .iconoFavorito {
    display: inline;
    margin-left: 3%;
    margin-bottom: 2%;
    width: 24px;
  }
  header .iconoCarrto {
    display: inline;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 24px;
  }
  header .iconoFavorito2 {
    display: inline;
    margin-left: 3%;
    width: 24px;
  }
  header .iconoCarrto2 {
    display: inline;
    margin-left: 2%;
    width: 24px;
  }
  header .segundoNav #toggle:checked ~ .menu {
    height: auto;
    display: block;
  }
  header .segundoNav label {
    margin: 2% 6%;
    margin-right: 66%;
    display: inline-flex;
    color: #2C3673;
  }
  header .segundoNav .icoNo {
    display: flex;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 3%;
  }
  header .segundoNav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  header .segundoNav .menu ul {
    flex-direction: column;
  }
  header .segundoNav .menu ul li {
    margin: 3% 5%;
  }
  .favoRitos {
    display: none;
  }
  .carriTo {
    display: none;
  }
  /* PAGINA INICIO */
  section {
    margin-bottom: 4%;
  }
  section .sección2 {
    flex-direction: column;
    margin: 3% 5% 0 5%;
  }
  /*novedades hecho con boostrap*/
  .card .card-img-overlay .card-title, section .sección2 .card1 .card-img-overlay .card-title, section .sección2 .card2 .card-img-overlay .card-title, section .sección2 .card3 .card-img-overlay .card-title {
    font-size: 5px;
  }
  .card .card-img-overlay .card-text, section .sección2 .card1 .card-img-overlay .card-text, section .sección2 .card2 .card-img-overlay .card-text, section .sección2 .card3 .card-img-overlay .card-text {
    font-size: 5px;
  }
  .card .card-img-overlay small, section .sección2 .card1 .card-img-overlay small, section .sección2 .card2 .card-img-overlay small, section .sección2 .card3 .card-img-overlay small {
    font-size: 5PX;
  }
  /* PAGINA CATEGORIAS */
  .margEn {
    margin-top: 5%;
  }
  .margEn .paginaCategoria {
    flex-direction: column;
    margin: 0 20%;
  }
  .margEn .paginaCategoria .cardCategorias {
    padding: 5% 10%;
    margin: 5%;
  }
  .margEn .paginaCategoria .cardCategorias div img {
    height: 9.375rem;
  }
  .margEn .paginaCategoria .cardCategorias .infoProducto {
    margin-left: 10%;
  }
  .margEn .paginaCategoria .cardCategorias .infoProducto p {
    margin-top: 5%;
    font-size: 14px;
  }
  .margEn .paginaCategoria .cardCategorias .infoProducto .precioCard {
    font-size: 20px;
  }
  .margEn .paginaCategoria .cardCategorias .infoProducto .buttonAgregar {
    padding: 5% 20%;
  }
  .margEn .buttonDeAbajo {
    text-align: center;
  }
  .margEn .buttonDeAbajo .buttonVerMas {
    padding: 2px 200px;
  }
  /* PAGINA OFERTAS */
  section .conTainer {
    flex-direction: column;
    margin: 0 20%;
  }
  section .conTainer .prodUctos {
    margin-bottom: 5%;
    padding: 1%;
    text-align: center;
  }
  section .conTainer .prodUctos img {
    margin-top: 5%;
  }
  section .conTainer .prodUctos p {
    margin-bottom: 5%;
    padding: 0;
  }
  section .conTainer .prodUctos .buttonComprar {
    padding: 5% 10%;
    margin-bottom: 5%;
  }
  /* PAGINA FAVORITOS */
  section .CardProducto .cardFavoritos {
    margin: 0 10%;
  }
  section .CardProducto .cardFavoritos div .tituloProducto {
    font-size: 14px;
  }
  /* PAGINA CARRITO */
  .seccionCarrito .imporTante {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .seccionCarrito .tituloImportante {
    grid-column: 2/12;
    grid-row: 2/3;
    font-size: 14px;
  }
  .seccionCarrito .CardProductoGrid {
    grid-column: 2/12;
    grid-row: 3/4;
  }
  .seccionCarrito .CardProductoGrid .cardCarrito {
    gap: 0;
  }
  .seccionCarrito .cardProductoSeleeccionado {
    padding: 5%;
    grid-column: 2/12;
    grid-row: 5/6;
  }
  .seccionCarrito .cardProductoSeleeccionado h2 {
    display: block;
    text-align: center;
    margin-bottom: 5%;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra {
    gap: 5%;
    display: flex;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra img {
    width: 10px;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra div h2 {
    text-align: left;
  }
  .seccionCarrito .cardProductoSeleeccionado .cardCompra div .buttonTerminar {
    padding: 10% 30%;
  }
  .seccionCarrito .CardProductoGrid2 {
    grid-column: 2/12;
    grid-row: 4/5;
  }
  .seccionCarrito .CardProductoGrid2 .cardCarrito2 {
    gap: 0;
  }
  /* Footer */
  footer div .footerMail .barraDeMail {
    flex-direction: column;
    align-items: stretch;
  }
  footer div .footerMail .barraDeMail h3 {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
  footer div .footerMail div .enviarMail {
    width: 100%;
    font-size: 0.875rem;
    border-radius: 0.3125rem 0.3125rem 0 0;
    margin-bottom: 0.5rem;
  }
  footer div .footerMail div button {
    width: 60%;
    border-radius: 0 0 0.3125rem 0.3125rem;
    font-size: 0.875rem;
  }
  footer div .margenFooter .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  footer div .margenFooter .grid .footerDesplegable {
    display: block;
  }
  footer div .margenFooter .grid .footerDesplegable label {
    margin: 2% 0%;
    display: inline-flex;
    color: #2C3673;
  }
  footer div .margenFooter .grid .footerDesplegable label .espacioDeItems {
    border-radius: 5px;
    gap: 280%;
    display: flex;
    padding: 15% 292% 15% 15%;
    background-color: #F8F9FF;
    color: #2C3673;
  }
  footer div .margenFooter .grid .footerDesplegable label .espacioDeItems h2 {
    cursor: pointer;
    margin: 0;
  }
  footer div .margenFooter .grid .footerDesplegable label .espacioDeItems2 {
    border-radius: 5px;
    gap: 418%;
    display: flex;
    padding: 15% 437% 15% 15%;
    background-color: #F8F9FF;
    color: #2C3673;
  }
  footer div .margenFooter .grid .footerDesplegable label .espacioDeItems2 h2 {
    cursor: pointer;
    margin: 0;
  }
  footer div .margenFooter .grid .footerDesplegable label .espacioDeItems3 {
    border-radius: 5px;
    gap: 330%;
    display: flex;
    padding: 15% 345% 15% 15%;
    background-color: #F8F9FF;
    color: #2C3673;
    margin-bottom: 50%;
  }
  footer div .margenFooter .grid .footerDesplegable label .espacioDeItems3 h2 {
    cursor: pointer;
    margin: 0;
  }
  footer div .margenFooter .grid .footerDesplegable .tituloNoResponsive {
    display: none;
  }
  footer div .margenFooter .grid .footerDesplegable .moRe:checked ~ .datosFooter {
    height: auto;
    overflow: visible;
  }
  footer div .margenFooter .grid .footerDesplegable .datosFooter {
    margin: 0 10%;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
}

/*# sourceMappingURL=style.css.map */
