@mixin titulo {
        margin-top: 1%;
        margin-bottom: 3%;
        display: flex;
        justify-content: center;
        gap: 1.25rem;
}

@mixin active{
        color: map-get($colores,color2);
        font-weight: 600;
}

@mixin precio{
        font-weight: bold;
        font-size: .875rem;
        margin-top: 20%;
        margin-bottom: 50%;
}

@mixin boton{
        font-size: 1rem;
        margin-top: 2%;
        padding: 8% 20%;
        border: none;
        border-radius: 5px;
        color: map-get($colores,color3);
        background-color: map-get($colores,color2);
}