/* Sección cards-ofertas */

section{
    div{

    }

    .conTainer{
        margin-top: 2%;
        display: flex;
        justify-content: center;

        .prodUctos{
            border-radius: .3125rem;
            box-shadow: 0px 8px 30px 5px rgba(0,0,0,0.10);
            padding: 1% 1%;
            gap: 5%;
            margin-left: 1%;
            margin-right: 1%;

            &:hover{
                transform: scale(1.2);
            }

            p{
                margin-bottom: 10%;
                font-size: 1rem;
            }

            h2{
                font-size: .875rem;
                margin-bottom: 5%;
            }

            .buttonComprar{
                @include boton;
                padding: 8% 30%;

                &:hover{
                    background-color: map-get($colores,color1);
                }
            }
        }
    }
}